*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/*---------NAVIGATION-------------*/
.navbar-nav{
    font-style: normal;
    font-weight: 900;
}
.navbar-brand a{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
}
.navi ul{
    margin-right: 100px;
}
.navi ul a{
    color: black !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.045em;
}
.navi ul a:hover{
    color:#2B5E48 !important;
    font-size: 21px;
}
.navbar-nav .active{
    color: #2B5E48 !important;
    font-weight: 800;
}
.demobtn{
    font-size: 24px;
    line-height: 20px;
    color: white !important;
    padding: 14px 20px !important;
    background-color: #2B5E48!important;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
}
/*---------HERO-------------*/
.masthead{
    background-image: url('/assets/images/hero.png');
    width: 100%;
    display: block;
    height: 100vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.intro-dist{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: white;
}
.intro-text {
    font-style: normal;
    font-weight: normal;
    line-height: 86px;
    font-size: 60px;
    margin: auto;
    margin-top: 35px;
  }
  .intro-subtitle{
    width: 70%;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: white;
    line-height: 50px;
    margin: auto;
  }
  .avail{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .avail img{
      margin-left: 10px;
      width: 41px;
      height: 40px;
      margin-bottom: 20px;
  }
.getnotif{
    color: white !important;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
}
  .inp{
    font-size: 24px;
    line-height: 20px;
    color: #2B5E48 !important;
    padding: 13px 30px !important;
    background-color: white !important;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    width: 40%;
    margin-right: 20px;
  }
  .submitbtn{
    font-size: 24px;
    line-height: 20px;
    color: white !important;
    padding: 14px 20px !important;
    background-color: transparent !important;
    outline: none !important;
    border: 3px solid white;
    border-radius: 2px;
    text-decoration: none;
  }

  @media (max-width: 968px){
    .intro-text{
        margin-top: 60px;
        font-size: 30px;
        line-height: 50px;
    }
    .intro-subtitle{
        font-size: 18px;
        line-height: 35px;
        width: 80%;
    }
    .avail{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .getnotif{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .inp{
        width: 90%;
        height: 40%;
        margin-bottom: 20px;
    }
    .submitbtn{
        padding: 18px 50px !important;
    }
  }
/*---------TEXTS-------------*/
.text-list{
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
}
.listedtext{
    margin-left: 100px;
}
@media (max-width: 768px){
    .listedtext{
        margin-left: 50px;
        font-size: 24px;
    }
}
/*------demo--------*/
.enjoy__play-icon {
	position: absolute;
	cursor: pointer;
}
.first-col {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: black;
}
@media (max-width: 968px){
    .enjoy__play-icon{
        height: 80px;
        width: 80px;
    }
}
@media (max-width: 568px){
    .enjoy__play-icon{
        height: 50px;
        width: 50px;
    }
}
/*-----------------Feature-------*/
 .info-container{
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
}
#home-drift{
    background-color: rgba(189, 183, 171, 0.33); 
}
.home-grid {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5rem;   
}
.home-grid__img{
    flex-basis: 40%;  
}
.home-grid__img img{
    max-width: 100%;
    display: block;
    height: 600px;
    margin: 0 auto;
}
.home-grid__text{
    flex-basis: 50%;
    align-self: center;
    margin-left: 100px;
}
#right{
    float: right;
    text-align: right;
    padding: 0px 80px 0px 0px;
}
#right > .para{
    text-align: right;
    width: 100%;
}
.info__text--bigTitle {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 45px;
  color: #000;
  margin-bottom: 30px;
} 
.para{
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    width: 90%;
    margin-bottom: 30px;
}
.grid-reverse{
  flex-flow: row-reverse;
}
.iconimage{
    margin-bottom: 20px;
}
.learnmore{
    color: white !important;
    padding: 13px 30px !important;
    background-color: #2B5E48 !important;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    font-size: 22px;
}
@media only screen and (max-width:900px) {
  .home-grid{
      flex-direction: column;
      margin-bottom: 2rem;
  }
 .info__text--bigTitle {
    font-size: 36px;
    margin-bottom: 8px;
    text-align: center;
 }
  .home-grid__img {
      margin-bottom: 2rem; 
  }
  .home-grid__text, #right, #right >.para{
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    padding: 0;
  }
.para{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 100% !important;
}
} 
/*-----------------steps-------*/
.steps-title{
    margin-bottom: 30px;
    font-weight: bold;
}
.steps-des > h1,h4,p{
    color: white;
}
.inputs1{
    text-align: center;
    width: 100%;
}
.buton1{
    font-size: 24px;
    line-height: 20px;
    color: #2B5E48 !important;
    padding: 18px 30px !important;
    background-color: white !important;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
  }
  .buton2{
    font-size: 24px;
    line-height: 20px;
    color: white !important;
    padding: 14px 20px !important;
    background-color: transparent !important;
    outline: none !important;
    border: 3px solid white;
    border-radius: 2px;
    text-decoration: none;
  }
@media (max-width: 968px){
    .steps-title{
        font-size: 40px;
    }
    #sub-sec-1{
        text-align: center;
    }
    .buton1{
        margin-bottom: 10px;
    }
}
/*-----------------join-------*/
.image-group{
    margin-top: 80px;
    margin-bottom: 80px;
}
.image-group img{
    margin-right: 60px;
    margin-left: 60px; 
    cursor: pointer;
}
@media (max-width: 768px){
    .join-title{
        font-size: 40px;
    }
    .image-group img{
        height: 50px;
        width: 50px;
        margin: 0px 10px; 
    }
}
/*-----------------Notify-------*/
.notifyy{
    background-image: url('/assets/images/Rectangle\ 23.png');
    width: 100%;
    display: block;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    margin: 0 auto;
}
.notify-title{
    font-weight: bold;
    font-size: 32px;
    margin-top: 180px;
}
#inptext, #viewbtn{
    font-size: 24px;
    line-height: 20px;
    color: white !important;
    outline: none !important;
    text-decoration: none;
}
#inptext{
    padding: 14px 30px !important;
    background-color: #2B5E48 !important;
    border: 2px solid #2B5E48;
    border-radius: 2px;
  }
  
  #viewbtn{
    padding: 14px 20px !important;
    background-color: transparent !important;
    border: 3px solid white;
    color: white !important;
    border-radius: 2px;
  }
  @media (max-width: 968px){
      .notify-title{
          margin-top: 200px;
      }
        #inptext{
        margin-bottom: 10px;
      }
      
  } 


/*-----------------FOOTER-------------*/
.footer-title::before{
    content: '';
    background: #2B5E48 !important;
    height: 4px;
    width: 90px;
    margin-right: auto;
    display: block;
    color: white;
    transform: translateY(40px);
}
.footer-title::after{
    content: '';
    background: #2B5E48 !important;
    margin-right: auto;
    margin-bottom: 60px;
    display: block;
    color: white;
    transform: translateY(2px);
}
.footer-title, .footerul{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
}
.footerul{
    list-style: none;
    cursor: pointer;
}
.footerul:hover{
    font-size: 25px;
}
.footer-end{
    margin-top: 50px;
}
.footer-end h6{
    font-size: 20px;
}
.footer-end img{
    height: 25px;
    width: 25px;
    margin: 0px 10px;  
}
@media (max-width: 768px){
    #footer{
        text-align: center;
    }
    .footer-title, .footerul{
        font-size: 20px;
    }
    .footer-title::before{
        margin: auto;
    }
}
